.container{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-weight:900 ;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.button{
    background-color: red;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding:9px 20px;
    cursor:pointer;
}
.button:hover{
    background-color: rgb(182, 3, 3);
}
.button:active{
    transform: scale(.9);
}
